@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --main-color: rgb(255, 255, 255);
    --light-main: rgb(97, 2, 2);
    --secondary-color: rgb(8, 8, 8);
    --light-secondary: rgb(100, 97, 97);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(44, 44, 44);
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:visited {
    color: var(--main-color);
}